<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key ="connectionString" value="data provider=SQLServer; server=DANKO; user id=actamgr; password=actamgr2005; database=ACTA; pooling=false;" />
   

  </appSettings>

  <system.serviceModel>
    <services>
      <service name="ACTASurveillanceService.ACTASurveillanceService" behaviorConfiguration="ACTASurveillanceServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44456/ACTASurveillanceService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:44456/ACTASurveillanceService/ACTASurveillanceService" binding="basicHttpBinding" contract="ACTASurveillanceService.IACTASurveillanceService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ACTASurveillanceServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true"
              includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>