<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58IFfo4HCpOcOYfYWJ8Zl1KasfolBPmyf2n42TjuDidQBe3hkeM2eWYy8slxeZTUYpZ4Yh1vRv21BlxZLy++4+QoNaGEp8QdzPjJtdynK5KZvpPv43XFZa5" />
    <add key="gates" value="1,2" />
    <!--<add key="rootDirectory" value="C:\Users\Administrator\AppData\Roaming\ACTA" />-->
    <add key="rootDirectory" value="C:\Users\vikto\AppData\Roaming\ACTA" />
    <add key="readerPort" value="10001" />
  </appSettings>
</configuration>