<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>   
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key="connectionString" value="data provider=sqlserver; server=NATASA; user id=actamgr; password=actamgr2005; database=ACTA_ho1; pooling=false;"/>
    </appSettings>
  <startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
