<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key ="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58IFfo4HCpOcOYfYWJ8Zl1KasfolBPmyf2n42TjuDidQBe3hkeM2eWYNq4itUXsJiAlZVaTO7lX2Zn5+EDKqN1Mtv1wfmmM/Af7mav5SI7ZlA==" />
    <add key ="PIN" value="123" />
    <add key ="idleTimeInSec" value ="10"/>
  </appSettings>
</configuration>