<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!----> <add key ="connectionString" value="data provider=sqlserver; server=danko; uid=actamgr; pwd=actamgr2005; database=ACTA;" /> <!---->
    <!--<add key ="connectionString" value="data provider=mysql; server=assurance; user id=root; password=password; database=ACTA;" />-->
  </appSettings>
</configuration>