<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Period for logs inserting in minutes -->
    <add key="Period" value="10"/>
    <!-- Root Application Directory -->
    <add key="rootDirectory" value="C:\Documents and Settings\darko.KUBA\My Documents\Visual Studio 2005\Projects\ACTA-2.1"/>
    <add key="L" value=""/>
    <!-- Comma separated State id's exclude from passes, ""- do not exclude any value, null- exclude just 39-->
    <!-- 39 Anti-passback deny, 40-soft Anti-passback error-->
    <add key="SiemensAntiPassback" value=""/>

    <!-- Synchronization schedule -->
    <add key="syncStartTime" value="02:00"/>
    <add key="syncTimeout" value="2"/>
    
    <!-- SiPass connection parameters -->
    <add key="SiPassServer" value="SANJA-PC"/>
    <add key="SiPassUsername" value="siemens"/>
    <add key="SiPassPassword" value="spirit"/>

  </appSettings>

  <system.serviceModel>
    <services>
      <service name="ReaderInterfaceSService.ReaderInterfaceSService" behaviorConfiguration="readerInterfaceSServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44457/ReaderInterfaceSService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:44457/ReaderInterfaceSService/ReaderInterfaceSService" binding="basicHttpBinding" contract="ReaderInterfaceSService.IReaderInterfaceSService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="readerInterfaceSServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
