<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!-- ACTA_fiat assurance -->
    <add key ="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58IFfo4HCpOcOYfYWJ8Zl1KasfolBPmyf2n42TjuDidQBe3hkeM2eWYy8slxeZTUYpZ4Yh1vRv21BlxZLy++4+QoNaGEp8QdzPjJtdynK5KZvpPv43XFZa5" />
    
		<!-- Root Application Directory -->
		<add key="rootDirectory" value="C:\Users\vikto\AppData\Roaming\ACTA" />
		<add key="L" value="" />

    <add key="startDownloadingTime" value="16:00" />
    <add key="downloadingTimeout" value="5" />				
	</appSettings>
</configuration>
