<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="languageSettings"  type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<appSettings>
		<add key="Login"		value="n" />
		<add key="GenerateEmployeeID" value="y" />
		
		<add key="CSVPassPairsReportPath" value="C:\\Acas\\Reports\\Boravci" />
		<add key="CSVPassesReportPath" value="C:\\Acas\\Reports\\Prolasci" />

		<!--add key="CardProvider" value="Hitag" /-->

		<!--add key="RunAs" value="RWD 7"/-->
	
		<add key="CardType"		value="Hitag2"/>
					
		<add key="CardProvider" value="Mifare"/>

		<add key="readerComPort" value="COM10" />

		<add key="DataProvider" value="MySql"/>

		<add key="DbConnection" value="server=localhost;user id=root; password=password; database=passage; pooling=false"/>
	
		<add key="BackgroundImage" value="AcasBackground.jpg" />
		<!--<add key="DefaultWorkingUnit" value="1" />-->
		
	</appSettings>
	
	<languageSettings>
    <!-- Common -->
    <add key="ID:"					value="ID:" />
    <add key="Description:"			value="Opis:" />
    <add key="ID"					value="ID" />
    <add key="Description"			value="Opis" />
    <add key="Insert Data"			value="Upiši podatke" />
    <add key="Update"				value="Izmeni podatke" />
    <add key="Exit"					value="Završi" />
    <add key="Delete"				value="Obriši" />

    <!-- Main application -->
    <add key="Registry Data"		value="Matični podaci" />
    <add key="File"					value="Datoteka" />
    <add key="Readers"				value="Čitači" />
    <add key="Groups"				value="Grupe" />
    <add key="Passes Types"			value="Vrste prolazaka" />
    <add key="Employees"			value="Zaposleni" />
    <add key="Working Times"		value="Radna vremena" />
    <add key="Insert"				value="Unos" />
    <add key="Update"				value="Izmena" />
    <add key="List View"			value="Pregled" />
    <add key="Working Day Summary"	value="Pregled radnog dana" />
    <add key="Employee Working Time Summary" value="Pregled dolazaka zaposlenog" />
    <add key="Working Unit Summary"	value="Pregled za radnu jedinicu" />
    <add key="Temporary pdf files deleting error." value="Greska kod brisanja privremenih pdf datoteka." />



    <!-- Readers -->
    <add key="Readers - Insert"		value="Unos čitača" />
    <add key="Readers - Update"		value="Izmena čitača" />
    <add key="Readers List View"	value="Pregled čitača" />
    <add key="Reader:"				value="Čitač:" />
    <add key="In Antenna:"			value="Ulazna antena:" />
    <add key="Unique"				value="Jedinstvena" />
    <add key="COM Port:"			value="COM Port:" />
    <add key="Node:"				value="Čvor:" />
    <add key="Type:"				value="Tip čitača:" />
    <add key="Referent Time:"		value="Referentno vreme:" />
    <add key="Read Log Period Time:" value="Vremenski period čitanja LOG-a:" />
    <add key="Delete Log Period:"	value="Period brisanja LOG-a:" />
    <add key="In Antenna"			value="Ulazna antena" />
    <add key="COM Port"				value="COM Port" />
    <add key="Node"					value="Čvor" />
    <add key="Type"					value="Tip čitača" />
    <add key="Referent Time"		value="Referentno vreme" />
    <add key="Read Log Period Time" value="Vremenski period čitanja LOG-a" />
    <add key="Delete Log Period"	value="Period brisanja LOG-a" />
    <add key="Show On Monitor:"		value="Prikazati monitor:" />
    <add key="Show On Monitor"		value="Prikazati monitor" />
    <add key="Yes"					value="Da" />
    <add key="No"					value="Ne" />

    <!-- Groups -->
    <add key="Groups - Insert"		value="Unos grupa"/>
    <add key="Groups - Update"		value="Izmena grupe"/>
    <add key="Groups List View"		value="Pregled grupa" />

    <!-- Working Units -->
    <add key="Working Units"				value="Radne jedinice"/>
    <add key="Working Units - Insert"		value="Unos radnih jedinica"/>
    <add key="Working Units - Update"		value="Izmena radnih jedinica"/>
    <add key="Working Units List View"		value="Pregled radnih jedinica" />
    <add key="Classification:"				value="Klasifikacija:"/>
    <add key="Classification"				value="Klasifikacija"/>

    <!-- Passes types -->
    <add key="Passes Types - Insert"	value="Unos vrsta prolazaka"/>
    <add key="Passes Types - Update"	value="Izmena vrsta prolazaka"/>
    <add key="Passes Types List View"	value="Pregled vrsta prolazaka" />
    <add key="Is default:"				value="Podrazumevani prolaz:" />
    <add key="Button:"					value="Taster:" />
    <add key="Button"					value="Taster" />
    <add key="Default"					value="Podrazumevano" />
    <add key="Standard"					value="Redovan rad" />

    <!-- Working Times -->
    <add key="Working Times - Insert"		value="Unos radnih vremena"/>
    <add key="Working Times - Update"		value="Izmena radnih vremena"/>
    <add key="Working Times List View"		value="Pregled radnih vremena" />
    <add key="Monday:"					value="Ponedeljak:" />
    <add key="Tuesday:"					value="Utorak:" />
    <add key="Wednesday:"				value="Sreda:" />
    <add key="Thursday:"				value="Četvrtak:" />
    <add key="Friday:"					value="Petak:" />
    <add key="Saturday:"				value="Subota:" />
    <add key="Sunday:"					value="Nedelja:" />
    <add key="Monday"					value="Ponedeljak" />
    <add key="Tuesday"					value="Utorak" />
    <add key="Wednesday"				value="Sreda" />
    <add key="Thursday"					value="Četvrtak" />
    <add key="Friday"					value="Petak" />
    <add key="Saturday"					value="Subota" />
    <add key="Sunday"					value="Nedelja" />

    <add key="In"						value="Ulazak" />
    <add key="Out"						value="Izlazak" />
    <add key="In:"						value="Ulazak:" />
    <add key="Out:"						value="Izlazak:" />
    <add key="Type in"					value="Vrsta ulaska" />
    <add key="Type out"					value="Vrsta izlaska" />
    <add key="Date"						value="Datum" />
    <add key="Date:"					value="Datum:" />
    <add key="Day"						value="Dan" />

    <add key="Employee:"				value="Zaposleni:" />
    <add key="From:"					value="Od:" />
    <add key="To:"						value="Do:" />
    <add key="Date from:"				value="Od datuma:" />
    <add key="Date to:"					value="Do datuma:" />
    <add key="Change all in hierarhy"	value="Promeniti hijerarhijski" />
    <add key="Undefined date 'TO'"		value="Do daljnjeg" />
    <add key="Employee /  Working time / Date"	value="Zaposleni / Radno vreme / Datum" />
    <add key="Employee / Working time List"		value="Pregled radnih vremena zaposlenog" />
    <add key="Delete Employee / Working Time"	value="Brisanje radnog vremena za zaposlenog" />





    <add key="Employees - Working Times Review"	value="Ažuriranje prolazaka zaposlenih" />
    <add key="Employees Working Times Review"	value="Ažuriranje prolazaka zaposlenih" />
    <add key="Start"					value="Izvrši" />

    <add key="Automatic Working Times Processing"	value="Automatska obrada radnih vremena" />
    <add key="Merge Half Pairs"			value="Kompletiranje parova" />
    <add key="Create Absence Pairs"		value="Obrada izostanaka " />
    <add key="Finising Working Day"		value="Obrada kraja radnog vremena" />
    <add key="New pairs:"				value="Novih parova:" />
    <add key="Merged pairs:"			value="Spojenih parova:" />




    <add key="Save before closing ?"	value="Sačuvati izmene ?" />
    <add key="Working time:"			value="Radno vreme:" />
    <add key="Working Time"				value="Radno vreme" />
    <add key="From Date"				value="Od datuma" />
    <add key="Wrong time span."			value="Pogrešan raspon vremena." />

    <add key="In Out Pair Maintainer"	value="Promena/Unos ulazaka i izlazaka" />
    <add key="Confirm"					value="Potvrdi" />
    <add key="Cancel"					value="Odbaci" />



    <!-- Employees -->
    <add key="Employees - Insert"	value="Unos zaposlenih"/>
    <add key="Employees - Update"	value="Izmena zaposlenih"/>
    <add key="Employees List View"	value="Pregled zaposlenih" />
    <add key="Name:"				value="Ime:"/>
    <add key="Surname:"				value="Prezime:"/>
    <add key="Card Serial:"			value="Broj kartice:"/>
    <add key="Group ID:"			value="Grupa:"/>
    <add key="Working Time ID:"		value="Radno vreme:"/>
    <add key="Working Unit ID:"		value="Radna jedinica:"/>
    <add key="Name"					value="Ime"/>
    <add key="Surname"				value="Prezime"/>
    <add key="Card Serial"			value="Broj kartice"/>
    <add key="Switch Card"			value="Zameni karticu"/>
    <add key="Switch Group"			value="Promeni grupu"/>
    <add key="Group ID"				value="Grupa"/>
    <add key="Working Time ID"		value="Radno vreme"/>
    <add key="Working Unit ID"		value="Radna jedinica"/>
    <add key="Error in Group List Creating."		value="Greška i kreiranju spiska Grupa."/>
    <add key="Error in Work Time List Creating."	value="Greška i kreiranju spiska Radnih vremena."/>


    <!-- Messages -->
    <add key="Error"				value="Greška"/>
    <add key="Success"				value="Uspešno"/>
    <add key="New Card"				value="Nova kartica"/>

    <add key="Confirm deleting."	value="Potvrdite brisanje."/>
    <add key="Confirm"				value="Potvrda"/>


    <add key="Database Insert Error."			value="Greska kod upisa u bazu podataka."/>
    <add key="Database Update Error."			value="Greska kod izmene baze podataka."/>
    <add key="Database Delete Error."			value="Greska kod brisanja u bazi podataka."/>

    <add key="Database Comunnication Error."	value="Greska u komunikaciji sa bazom podataka."/>
    <add key="Error in Group List Creating."	value="Greska u kreiranju spiska radnih mesta (grupa)."/>
    <add key="Field 'ID' is mandatory."			value="Polje 'Id' je obavezno."/>
    <add key="Field 'Name' is mandatory."		value="Polje 'Ime' je obavezno."/>
    <add key="Field 'Surname' is mandatory."	value="Polje 'Prezime' je obavezno."/>
    <add key="Field 'Description' is mandatory."						value="Polje 'Opis' je obavezno."/>
    <add key="Field 'In Antenna' must be '0' or '1'."					value="Polje 'Antena' mora biti '0' ili '1'."/>
    <add key="Field 'COM Port' must be integer."						value="Polje 'COM port' mora biti celobrojno."/>
    <add key="Field 'Node' must be integer."							value="Polje 'Čvor' mora biti celobrojno."/>
    <add key="Field 'Type' must be 'LOG' or 'AUTO'."					value="Polje 'Tip čitača' mora biti 'LOG' ili 'AUTO'."/>
    <add key="Field 'Referent time' must be in HH:mm format."			value="Polje 'Referentno vreme' mora biti u formatu HH:mm."/>
    <add key="Field 'Read Log Period Time' must be in HH:mm format."	value="Polje 'Vremenski period čitanja LOG-a' mora biti u formatu HH:mm."/>
    <add key="Field 'Delete Log Period' must be integer."				value="Polje 'Period brisanja LOG-a' mora biti celobrojno."/>
    <add key="Table is empty."					value="Tabela je prazna."/>
    <add key="Card R/W Operation Error."		value="Greška u čitanju/upisu na karticu."/>
    <add key="Database Updated."				value="Baza podataka je ažurirana."/>
    <add key="Wrong group ID."					value="Pogrešan ID grupe."/>
    <add key="Wrong reader ID."					value="Pogrešan ID čitača."/>
    <add key="Wrong Employee ID."				value="Pogrešna identifikacija zaposlenog."/>
    <add key="Put New Card On Reader."			value="Stavite karticu na čitač."/>
    <add key="Reader programming failed"		value="Programiranje čitača nije uspelo"/>
    <add key="Reader programming succeded"		value="Programiranje čitača uspešno završeno"/>


    <!-- Reports -->
    <add key="Reports"			value="Izveštaji"/>
    <add key="CSV Reports"		value="CSV Izveštaji"/>
    <add key="Pass Pairs"		value="Parovi prolazaka"/>
    <add key="Passes"			value="Prolasci"/>
    <add key="Pass Pair CSV Report"	value="CSV Izvestaj - Parovi prolazaka"/>
    <add key="Pass CSV Report"	value="CSV Izvestaj - Prolasci"/>

    <add key="From date:"		value="Od datuma:"/>
    <add key="To date:"			value="Do datuma:"/>
    <add key="Make report"		value="Generiši"/>
    <add key="Working Unit:"	value="Radna jedinica:"/>

    <add key="Report"		value="Izveštaj"/>
    <add key="lines"		value="linija"/>
    <add key="succesfuly generated."	value="uspešno kreiran."/>
    <add key="Working Day Report"		value="Pregled radnog dana"/>
    <add key="Employee Working Report"	value="Pregled dolazaka zaposlenog"/>
    <add key="Working Unit Working Time Summary" value="Pregled dolazaka za radnu jedinicu"/>
    <add key="Working Unit Working Report" value="Pregled dolazaka za radnu jedinicu"/>

    <add key="For period:"	value="za period:"/>
    <add key="All hierarchy:"	value="Hijerarhijski:"/>

    <add key="Total"			value="Ukupno"/>
    <add key="Late on job"		value="Kašnj."/>
    <add key="Early go home"	value="Raniji od."/>
    <add key="Over time"		value="Prekovr."/>
    <add key="Total work"		value="Radio"/>
    <add key="Total not work"	value="Odsustv."/>

    <add key="Report type:"			value="Tip izveštaja:"/>

    <add key="Employees Report 1"	value="Po dnevnim segmentima"/>
    <add key="Employees Report 2"	value="Zbirno dnevno"/>
    <add key="Employees Report 3"	value="Analiticno po vrstama"/>
    <add key="Employees Report 4"	value="ER4"/>
    <add key="Employees Report 5"	value="Osvezavajuca pica"/>
    <add key="Employees Report 6"		value="Eurosalon, sa bolovanjima"/>
    <add key="Daily Report 1"		value="Po segmentima"/>
    <add key="Daily Report 2"		value="Zbirno"/>
    <add key="Daily Report 3"		value="Analiticno"/>
    <add key="Working Units Report 1"	value="Analiticno"/>
    <add key="Working Units Report 2"	value="WUR2"/>
    <add key="Working Units Report 3"	value="Eurosalon, sa bolovanjima"/>

    <add key="Analitic by pass types:"		value="Analitika po vrstama:"/>

    <add key="No defined working time. Use generic instead." value="Radno vreme nije definisano. Koristi se generičko."/>
    <!-- Readers setup -->
    <add key="Readers setup"			value="Programiranje čitača"/>
    <add key="Readers - Setup"			value="Programiranje čitača"/>
    <add key="Reader:"					value="Čitač:"/>
    <add key="Setup"					value="CGE -&gt; RWD"/>
    <add key="Time"						value="Vreme &lt;-&gt; RWD"/>
    <add key="NormalLog"				value="RWD = Normal | Log"/>
    <add key="GetLog"					value="LOG &lt;- RWD"/>
    <add key="EraseLog"					value="Obriši LOG"/>
    <add key="Reader time is:"			value="Vreme na čitaču je:"/>
    <add key="Set to current time?"		value="Postavi na tekuće vreme?"/>
    <add key="Delete LOG from device?"	value="Obriši LOG sa uređaja?"/>
    <add key="LOG download succeded"	value="Smeštanje LOG tabele u bazu uspešno završeno"/>
    <add key="AUTO LOG mode?"			value="Da li želite da vrsta automatskog rada uređaja bude LOG?"/>
    <add key="SetGE"					value="Grupe i dogadjaji"/>
    <add key="SetDO"					value="Trajanje DO impulsa"/>
    <add key="change to"				value="promeni u"/>

    <!-- Readers setup -->
    <add key="Delete"					value="Obriši"/>
    <add key="Change"					value="Promeni"/>
    <add key="Add New"					value="Dodaj novi"/>

    <!-- Login -->
    <add key="User name:"			value="Korisničko ime:"/>
    <add key="Password:"			value="Lozinka:"/>
    <add key="Login"				value="Prijava"/>
    <add key="Wrong user name/password."	value="Pogrešno korisničko ime / lozinka."/>

    <add key="Group Employee Reports"	value="Grupni izvestaj za zaposlene"/>

    <add key="Event Type:"	value="Tip:"/>
    <add key="Event Type"	value="Tip"/>
    <add key="Pass"		value="Prolazak"/>
    <add key="Other"	value="Ostalo"/>

    <add key="Date and time"	value="Datum i vreme"/>
    <add key="Analitic by types:"	value="Analitika po vrstama:"/>

    <add key="Wrong 'From Date - To Date' combination."	value="Pogresna kombinacija 'Od datuma - Do datuma'."/>
    <add key="Wrong 'From Date - To Date' combination."	value="Pogresna kombinacija 'Od datuma - Do datuma'."/>

    <add key="Other Events Report"	value="Izvestaj o utrosku"/>
    <add key="Empty report."		value="Nema utroska u zahtevanom periodu."/>

    <add key="Pairs Generating"		value="Generisanje parova prolazaka"/>
    <add key="Generate"		value="Generiši"/>
    <add key="Pass type:"	value="Vrsta prolaska:"/>

    <add key="Employees Group Working Time Review"	value="Grupno ažuriranje prolazaka zaposlenih"/>
    <add key="Employees - Group Working Times Review"	value="Grupno ažuriranje prolazaka zaposlenih"/>
    <add key="Employee"			value="Zaposlen" />
  </languageSettings>
</configuration>
