<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key ="connectionStringSQL" value="server=reliance;database=ACTA;uid=bdubnhs;pwd=bdubnhs3116" />
    <add key ="connectionStringMySQL" value="server=Reliance; user id=root; password=password; database=acta_pio; pooling=false; " />
    -->
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <!-- ACTA_fiat 
    <add key ="connectionString" value="data provider=sqlserver; server=natasa; user id=actamgr; password=actamgr2005; database=ACTA_fiat; Max Pool Size=500;" />
-->
    <!-- ACTA_fiat assurance 
    <add key ="connectionString" value="data provider=sqlserver; server=assurance; user id=actamgr; password=actamgr2005; database=ACTA_hyatt_real; Max Pool Size=500;" />-->
    <!--
    <add key="syncConnectionString" value="data provider=sqlserver; server=91.238.61.18; user id=sa; password=Ohde0feixe1u; database=SYNC; Max Pool Size=500;" />
-->
    <!-- Fiat baza -->
    <add key="connectionString" value=""/>
    <add key="Izvestaj" value="D:\\"/>
    <add key="L" value=""/>
    <add key="photos" value=""/>
    <!-- Visitors Code -->
    <add key="VisitorsCode" value="999"/>
    <add key="BENCHMARKING" value="NO"/>
    <!-- Gates -->
    <add key="Gates" value="0"/>
    <!-- AuxPorts - order of local serial ports has to match to the order of the gate's readers in db -->
    <add key="AuxPorts" value=""/>
    <!-- Offline visits -->
    <add key="OfflineVisits" value="NO"/>
    <!-- Monitor application updates employee location table, or leaves it to Data Processing only -->
    <add key="UpdateEmployeeLocation" value="Yes"/>
    <!-- People counter value -->
    <add key="GraphDevide" value="YES"/>
    <!-- ZIN customized report value -->
    <add key="Point" value="Prijavnica"/>
    <add key="readerPort" value="11001"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
