<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

    <!--
    <add key ="connectionStringSQL" value="server=reliance;database=ACTA;uid=bdubnhs;pwd=bdubnhs3116" />
    <add key ="connectionStringMySQL" value="server=Reliance; user id=root; password=password; database=acta_pio; pooling=false; " />

    <add key ="DataProvider" value="3" />
    -->
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
 <!--   <add key ="connectionString" value="data provider=sqlserver; server=MIODRAG-PC\SQL12SER64BIT;database=ACTA ;uid=actamgr;pwd=actamgr2005;" />
  -->  <add key ="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58IFfo4HCpOcOYfYWJ8Zl1KasfolBPmyf2n42TjuDidQBe3hkeM2eWYILLQkuj2iKcdzC5KbQTYkhFlnkXWz78YiYgjJZ7gwJ3a7QqQ/V0QGA==" />

    <!-- Fiat baza 
 <add key ="connectionString" value="data provider=sqlserver; server=91.238.61.10; user id=actamgr; password=actamgr2005; database=ACTA; Max Pool Size=500;" />
-->
    
    <!-- Gates -->
    <add key ="Gates" value="9,10,11" />
    <add key="Company" value=""/>
 		<!-- Root Application Directory -->
    <!--<add key="rootDirectory" value="C:\Documents and Settings\darko.KUBA\My Documents\Visual Studio 2005\Projects\ACTA-2.1" />-->
    <add key="rootDirectory" value="C:\Users\vikto\AppData\Roaming\ACTA" />
		<add key="L" value="" />

		<add key="BENCHMARKING" value="YES" />

    <add key="medicalCheckStartTime" value="05:00" />
    <add key="medicalCheckTimeout" value="2" />
    
	</appSettings>
</configuration>
