<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key ="connectionStringSQL" value="server=reliance;database=ACTA;uid=bdubnhs;pwd=bdubnhs3116" />
    <add key ="connectionStringMySQL" value="server=reliance; user id=root; password=password; database=acta; pooling=false; " />

    <add key ="DataProvider" value="3" />
    -->

    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key="connectionString" value="data provider=sqlserver; server=danko; user id=actamgr; password=actamgr2005; database=acta;"/>
    
    <add key="rootDirectory" value="C:\Program Files\ACTA"/>

    <add key="L" value=""/>

    <add key="photos" value=""/>

    <!-- Visitors Code -->
    <add key="VisitorsCode" value="999"/>

    <!-- Gates -->
    <add key="Gates" value="0"/>

    <!-- AuxPorts - order of local serial ports has to match to the order of the gate's readers in db -->
    <add key="AuxPorts" value=""/>

    <!-- Monitor application updates employee location table, or leaves it to Data Processing only -->
    <add key="UpdateEmployeeLocation" value="Yes"/>

    <!-- Enable application to work offline YES/NO -->
    <add key="offlineWork" value="NO"/>

  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
