<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Acta_fiat-->
    <add key="connectionString"
value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qhm1GSFq4ycD+DivJEF9GTHBrGU3VCBm/EdF9oF/XZ3MvyVK8v160zDv0TzBNbLQXEjil8T5BeYZgjS1xdPIMV5A=="
/>

    <!-- Root Application Directory -->
    <add key="rootDirectory" value="C:" />
    <add key="ReportsDirectory" value="C:\izvestaji\" />
    <add key="L" value="" />
    <add key="BENCHMARKING" value="NO" />
    <!---->
    <add key="emailAddress" value="bojanm@sdditg.com" />
    <add key="host" value="mail.sdditg.com" />
    <add key="port" value="25"/>
    <add key="userName" value="bojanm@sdditg.com" />
    <add key="password" value="123456bm" />
    <add key="mailTo" value="tamara@sdditg.com, natalija@sdditg.com" />
    <add key="rootDirectory" value="" />
    <add key ="Gates" value="1,2,4" />
    <!--, sasa.rajakovic@hutchinson.com-->
    <add key="processingSleapInterval" value="30" />

    <add key="time1" value="06:15"/>
    <add key="time2" value="09:15"/>
    <add key="time1" value="14:15"/>
    <add key="time2" value="22:15"/>
    <add key="time5" value="09:00"/>
    <add key="timePayslip" value="09:33"/>
    <!--<add key="timePayslip" value="16:27"/>-->

  </appSettings>
</configuration>