<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <!--   -->
    <add key ="connectionString" value="data provider=sqlserver; server=assurance; user id=actamgr; password=actamgr2005; database=ACTA_PMC; Max Pool Size=500;" />

    <!--add key="LRRaddress" value="COM1" /-->
    <add key="LRRaddress" value="10.20.8.61" />

    <add key="rootDirectory" value="" />
     
    <add key ="L" value="" /> 
 
    <add key="photos" value="" />
 
    <!-- Visitors Code -->
    <add key ="VisitorsCode" value="999" />
 
    <add key="BENCHMARKING" value="NO" />
  
    <!-- Gates -->
    <add key ="Gates" value="0" />

    <!-- AuxPorts - order of local serial ports has to match to the order of the gate's readers in db -->
    <add key ="AuxPorts" value="" />

    <!-- Offline visits -->
    <add key ="OfflineVisits" value="NO" />

    <!-- Monitor application updates employee location table, or leaves it to Data Processing only -->
    <add key ="UpdateEmployeeLocation" value="Yes" />

    <!-- People counter value -->
    <add key="GraphDevide" value="YES" />

    <!-- ZIN customized report value -->
    <add key="Point" value="Prijavnica" />

  </appSettings>
</configuration>
