<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <!--
    <add key ="connectionStringSQL" value="server=reliance;database=ACTA;uid=bdubnhs;pwd=bdubnhs3116" />
    <add key ="connectionStringMySQL" value="server=Reliance; user id=root; password=password; database=acta_pio; pooling=false; " />

    <add key ="DataProvider" value="3" />
    -->

    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58q5bo7HKaXspowAapFUdtu6/9O8iQIv2wQ6zfiVsCLDs4wMH8gp02B9fERFglDek0p2Uygs0oj8GJUdBJeDmIVTg3H1Djl9ywYVGA/F+W1pw=="/>

    <!-- Gates -->
		<add key="Gates" value="1,1003,1004,1006,1007,1009,1010,1011,1012,1013,1014,1015"/>
		
		<!-- Root Application Directory -->
		<add key="rootDirectory" value="C:\Users\Viktor Smederevo\AppData\Roaming\ACTA"/>
		<add key="L" value=""/>
				
		<!-- Time Server -->
		<add key="TimeServer" value=""/>
		
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
