<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <!--
    <add key ="connectionStringSQL" value="server=reliance;database=ACTA;uid=bdubnhs;pwd=bdubnhs3116" />
    <add key ="connectionStringMySQL" value="server=Reliance; user id=root; password=password; database=acta_pio; pooling=false; " />

    <add key ="DataProvider" value="3" />
    -->

    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58IFfo4HCpOcOYfYWJ8Zl1KasfolBPmyf2n42TjuDidQBe3hkeM2eWYNq4itUXsJiAlZVaTO7lX2Zn5+EDKqN1Mtv1wfmmM/Af7mav5SI7ZlA=="/>

    <!-- Gates -->
		<add key="Gates" value="7"/>
		
		<!-- Root Application Directory -->
		<add key="rootDirectory" value="C:\Users\vikto\AppData\Roaming\ACTA"/>
		<add key="L" value=""/>
		<add key="BENCHMARKING" value=""/>
		<add key="DebugLevel" value=""/>
		<add key="XMLAlternative" value=""/>
		<!-- Time Server -->
		<add key="TimeServer" value=""/>
		
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
