<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key ="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh+b1g/k8xX58IFfo4HCpOcOYfYWJ8Zl1KasfolBPmyf2n42TjuDidQBe3hkeM2eWYtozZzyXL4HZzljDErQoyXFDujUkqVJb/M/glcjU1KbnuZzDEulwJzg==" />
    <add key="Company" value=""/>
    <!-- Gates -->
    <add key="Gates"  value="1" />

    <!-- Root Application Directory -->
    <add key="rootDirectory" value="C:\Users\vikto\AppData\Roaming\ACTA" />
    <add key="L" value="" />

    <add key="BENCHMARKING" value="NO" />

    <add key="medicalCheckStartTime" value="05:00" />
    <add key="medicalCheckTimeout" value="1440" />
    
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="DataProcessingService.DataProcessingService" behaviorConfiguration="dataProcessingServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44454/DataProcessingService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:44454/DataProcessingService/DataProcessing" binding="basicHttpBinding" contract="DataProcessingService.IDataProcessingService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="dataProcessingServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true"
              includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>