<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qh7QMingESffTikTaSK9PJ2Y+cTqIrU8c7p6grYJ3sXjTBjy1iTTen1/7+NXV2ru3SVdP0g/A+ooI/732/Wey3Jw==" />
    <!-- Root Application Directory -->
    <add key="rootDirectory" value="C:\" />
    <add key="L" value="" />
    <add key="BENCHMARKING" value="NO" />
    <add key="day" value="Tuesday" />
    <add key="timeMontly" value="03:30" />
    <add key="timeDaily" value="12:08" />
    <add key="userNameSharedArea" value="SRSKRA01APCP030\Administrator" />
    <add key="passwordSharedArea" value="aifiuC5Eiz" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ACTAWorkAnalysisService.ACTAWorkAnalysisService" behaviorConfiguration="ACTAWorkAnalysisServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44567/ACTAWorkAnalysisService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:44567/ACTAWorkAnalysisService/WorkAnalysis" binding="basicHttpBinding" contract="ACTAWorkAnalysisService.IACTAWorkAnalysisService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ACTAWorkAnalysisServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>