<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Connection string - currently values for data provider are mysql, sqlserver and xml -->
    <add key ="connectionString" value="data provider=sqlserver; server=assurance; user id=aacmgr; password=aacmgr2005; database=AAC; Max Pool Size=500;" />
  </appSettings>
</configuration>