<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <!--
    <add key ="connectionStringSQL" value="server=reliance;database=ACTA;uid=bdubnhs;pwd=bdubnhs3116" />
    <add key ="connectionStringMySQL" value="server=Reliance; user id=root; password=password; database=acta_pio; pooling=false; " />

    <add key ="DataProvider" value="3" />
    -->

    <!-- Period for logs inserting in minutes -->
    <add key="Period" value="30"/>

    <!-- Path of Audit Trail files -->
    <add key="AuditTrailPath" value="D:\"/>

    <!-- SiPassReport assurance -->
    <!--<add key ="connectionStringSiPassReport" value="data provider=sqlserver; server=assurance; user id=rptmgr; password=rptmgr2005; database=SiPassReport; Max Pool Size=500;" />-->
    <add key="connectionStringSiPassReport" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qhjDXSdHb9oNTGHSFFCVp8moBMKj/971FLtLHbichHph89la9jH9M20ZuW3MboumOiLDGUViJuLLFLabPzhr+60Zvy3ZSJKR8dWdfa8VTbxLK9shxJmIDVeHnlVSZzNBTH2vyd4IOXfV8="/>
    <!-- Synchronization schedule -->
    <add key="syncStartTime" value="02:00"/>
    <add key="syncTimeout" value="1440"/>

    <!-- Monthly check schedule -->
    <add key="monthlyCheckStartTime" value="12:30"/>
    <add key="monthlyCheckTimeout" value="15"/>

    <add key="SiemensAntiPassback" value=""/>
    <add key="SiemensAuditTrailValidStates" value="2"/>

    <!-- SiPass connection parameters -->
    <add key="SiPassServer" value="SANJA-PC"/>
    <add key="SiPassUsername" value="siemens"/>
    <add key="SiPassPassword" value="spirit"/>
    
    <!-- Vechicle points -->
    <add key="vechiclePoints" value="535,544"/>
		
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
