<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Connection String-->
    <add key="connectionString" value="data provider=sqlserver; server=assurance; user id=actamgr; password=actamgr2005; database=ACTA_fiat;"/>

    <!-- <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qhjDXSdHb9oNSKXR4IhhC15HNx44w5C+op5txHvRt0s1MPVbsQ9Z1cNWQJS7N00z5qP71lgAswucUNFj69tssU2IJmirisQayYlvm4V3Bs7S1ZD2T0bz4H3Xh6ETJrb9X+qXWvhNh9eOQ=" />
    
    <add key="restaurantConnectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qhYeXZIGqS67umh9cGijKsiTLWcIzKvdQkPUxE4mY6DNYoAeTrSV3a/Z8iGQPGxzZBcJJGU/HTEz0tv7rIING6jg==" />-->
    <!-- Log debug messages, valid values: YES, NO -->
    <add key="DebugLevel" value="2"/>

    <!-- Ticket transaction time out in ms -->
    <add key="TicketTransactionTimeOut" value="10000"/>

    <!-- Barrier pass time out in ms -->
    <add key="PassTimeOut" value="6000"/>

    <!-- Block next pass time interval (after detection of a previous pass), in ms -->
    <add key="BlockPassInterval" value="500"/>

    <!-- Reader ping period in sec, default = 10 -->
    <add key="readerPingPeriod" value="30"/>

    <!-- Reader's for meals -->
    <add key="Readers" value="1"/>

    <!-- Points for meals -->
    <add key="Points" value="1:145888,145923,150013;2:145888,145923,150013;3:145888,145923,150013;4:145888,145923,150013;5:145924,150013,145923;6:145888,145923,150013;7:145888,145923,145925,150013"/>
    <add key="DownloadStartTime" value="12:00"/>
    <add key="DownloadInterval" value="15"/>

    <add key="NumberOfMealsTime" value="00:00"/>

    <add key="rootDirectory" value="C:\"/>
    
    <!--email parameters-->
    <!--<add key="emailAddress" value="tmsystemnotification@fiatservices.com" />
    <add key="host" value="smtprelay.fgremc.it" />
    <add key="userName" value="gescoeurope\A004885" />
    <add key="password" value="Serbia12" />
    <add key="mailsToSent" value="darko@sdditg.com, boris@sdditg.com, ana@sdditg.com" />-->

    <add key="emailAddress" value="sanja@sdditg.com"/>
    <add key="host" value="mail.sdditg.com"/>
    <add key="userName" value="sanja@sdditg.com"/>
    <add key="password" value="sanja"/>
    <add key="mailsToSent" value="sanja@sdditg.com"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
