<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qhPyOKfulF/mEPw6+c/mvDjwQVMUnuEZkvA2+dgOYWTWdEF9/Me2oEmeyGe7L5iRKy3Zj+MGsw2cBfH4yHHTR4cohVKK8vGBqu" />
    <add key="gates" value="1,2" />
    <add key="rootDirectory" value="C:\Users\Administrator\AppData\Roaming\ACTA" />
    <add key="readerPort" value="11001" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ACTAReaderMonitorService.ACTAReaderMonitorService" behaviorConfiguration="ACTAReaderMonitorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44568/ACTAReaderMonitorService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:44568/ACTAReaderMonitorService/ACTAReaderMonitorManager" binding="basicHttpBinding" contract="ACTAReaderMonitorService.IACTAReaderMonitorService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ACTAReaderMonitorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
