<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="connectionString" value="/JZmFg5y0xw2Hqv7DIM84kns2zpNG1qhjDXSdHb9oNSKXR4IhhC15HNx44w5C+op5txHvRt0s1MPVbsQ9Z1cNWQJS7N00z5qP71lgAswucUNFj69tssU2IJmirisQayYdCsgdtXOQATgI6CU0wVAOK9Dp2o9efaiq7e4CqGf3C0="/>
    <!-- Root Application Directory -->
    <add key="rootDirectory" value="C:\Users\Administrator\AppData\Roaming\ACTA"/>
    <add key="L" value=""/>
    <add key="BENCHMARKING" value="NO"/>

    <add key="emailAddress" value="tmsystemnotification@fiatservices.com"/>
    <add key="host" value="smtprelay.fgremc.it"/>
    <add key="port" value="25"/>
    <add key="userName" value="gescoeurope\A004885"/>
    <add key="password" value="Serbia12"/>

    <add key="processingSleapInterval" value="5"/>
    <add key="day" value="Friday"/>
    <add key="time" value="14.10"/>
    <add key="timeMedical" value="16:00"/>
    <add key="timePayslip" value="16:00"/>

  </appSettings>

  <system.serviceModel>
    <services>
      <service name="EmailNotificationService.EmailNotificationService" behaviorConfiguration="EmailNotificationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44459/EmailNotificationService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:44459/EmailNotificationService/NotificationManager" binding="basicHttpBinding" contract="EmailNotificationService.IEmailNotificationService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EmailNotificationServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
