<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- -->

  <add key="connectionString" value="data provider=sqlserver; server=assurance; user id=actamgr; password=actamgr2005; database=ACTA_fiat; Max Pool Size=500;" />

  <add key="syncConnectionString" value="data provider=sqlserver; server=91.238.61.18; user id=sa; password=Ohde0feixe1u; database=SYNC; Max Pool Size=500;" />

  <!--FIAT
    
    <add key="connectionString" value="data provider=sqlserver; server=91.238.61.10; user id=actamgr; password=actamgr2005; database=ACTA; Max Pool Size=500;" />
    <add key="syncConnectionString" value="data provider=sqlserver; server=91.238.61.10; user id=sa; password=Eigh9foh6i; database=SYNC; Max Pool Size=500;" />
-->
    <add key="rootDirectory" value="C:" />
    <add key="userNameSharedArea" value="SRSKRA01APCP030\Administrator" />
    <add key="passwordSharedArea" value="aifiuC5Eiz" />
    <add key="timeDaily" value="10:48" />
    <add key="timeMontly" value="15:00" />
    <add key="day" value="Tuesday" />
    <add key="timeISSE" value="10:00" />
    <add key="dayISSE" value="Monday" />
    <add key="batDirectory" value="" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="syncStartTime" value="02:00" />
    <add key="syncTimeout" value="1" />
    <add key="passAllowStartTime" value="01:30" />
    <add key="passAllowTimeout" value="1440" />
    <add key="dayAdvance" value="0"/>
    <add key="recalculateAnnualLeave" value="no" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>